<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="magedad_lowstocknotification_inventory_reservations_placement" type="MageDad\LowStockNotification\Plugins\Sales\OrderManagement\AppendReservationsAfterOrderPlacementPlugin" sortOrder="90"/>
    </type>
</config>
